#no-mobile {
  position: absolute;
  z-index: 99;
  height: 220%;
  background-color: var(--yellow);
  opacity: 0.92;
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  font-size: 26px;
  text-align: center;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
#no-mobile span {
  margin-top: 30vh;
}
